body{
    background-image: url(../Content/colorful.jpg);
    background-size:cover;
    background-attachment: fixed;
    //background-color: #9FA8DA !important;
}

.navbar {
    //background-color: #3F51B5 !important;
}

.layout-main {
    padding-bottom:15px;
}
#layout-main-container {
    background-color: rgba(230, 230, 230, .7);
}

#footer a {
    color: #065192;
    text-decoration: none;
}