@model Airbrush.ViewModels.GalleryViewModel

@{
    Style.Require("Slideshow").AtFoot();
    Script.Require("Slideshow").AtFoot();
    Script.Include("test.js");
}

    <div class="gallery-page">

        <h1> @T("Gallery") </h1>


        <ul class="pgwSlideshow">

            @foreach (var m in Model.GalleryItems)
            {
                <li><img src="@m.MediaUrl" alt="alt" data-description="Golden Gate Bridge"></li>
               
            }
        </ul>
    </div>
