@media all and (max-width: 767px) {
    .widget-carouselwidget {
        display:none;
    }
}

.widget-carouselwidget{
    margin: 40px auto;
    width:768px;
    height: 250px;
    position: relative;
    background-color: rgba(25, 25, 25, .7);
    -webkit-box-shadow: 5px 8px 17px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 8px 17px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 5px 8px 17px 0px rgba(50, 50, 50, 0.75);
}

#myCarousel{
    width:768px;
    height: 250px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width:768px;
    max-height: 250px;
    overflow:hidden;
}

.carousel-indicators{
    bottom: 0px !important;
}
.carousel-indicators > li{
    border: 1px solid #1976D2 !important;
}

.carousel-indicators .active{
    background-color: #1976D2 !important;
}
.carousel-control {
    color: #1976D2 !important;
}