<h1>Bericht ontvangen</h1>
<p>Dankuwel voor het plaatsen van een bericht.</p>
<div>
    <span>@T("U kunt het navigatie menu bovenaan de pagina gebruiken om dit scherm te verlaten. Onderstaande knop brengt u terug naar de Homa pagina.")</span>
    <div>
        <button onclick="location.href='@Url.Action("Index", "Home", new { area = "Airbrush" })'"><span>@T("Terug naar Home")</span></button>
    </div>
</div>